/*--------------------------------------
|	             GENERAL			   |
----------------------------------------*/
* {
    font-family: "Fira Sans", sans-serif;
}


body{
	cursor: default;
	background-color: rgb(115, 50, 56);
  	color: white;
}

/*--------------------------------------
|	             NAVBAR				   |
----------------------------------------*/
ul {
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
	position: sticky;
    position: inherit;
    height: 150px;
    top: 10px
}
  
li {
    float: right;
    position: sticky;
}

li img {
    height: 100px;
    width: 100px;
    top: 0px;
    position: absolute;
    transition: 0.5s;
}

li img:hover {
    height: 120px;
    width: 120px;
    top: 0px;
    position: absolute;
    transition: 0.5s;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration-color: rgb(217, 105, 7);
    text-decoration-thickness: 2px;
    transition: 0.5s;
}
  
li a:hover {
    color: grey;
    transition: 0.5s;
}


/*--------------------------------------
|	          LOGO      			   |
----------------------------------------*/
#immagine_grafica {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 50%;
    z-index: 0;
}


/*--------------------------------------
|	              presentazione			|
----------------------------------------*/
#presentazione{
    color: #60a9ff;
    font-weight: bold;
    font-size: 20px; 
    margin-top: 150px;
    margin-left: 12%;
    line-height: 2em;
    z-index: 1;
}

#presentazione b {
    font-size: 21px;
    line-height: 0px;
    margin: 0;
}

#presentazione h2 {
    border: 5px solid rgb(217, 105, 7);
    border-radius: 15px;
    color: white;
    width: 400px;
    text-align: center;
    font-size: 20px;
    background: rgb(217, 105, 7);
}

#presentazione a {
    color: inherit;
    text-decoration: inherit;
}

#presentazione img {
    z-index: 1;
    width: 220px;
    margin-left: 100px;
    margin-top: 20px;
    position: static;
}

#descrizione_home {
    z-index: 1;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 300px;
    font: small-caps 20px/1 sans-serif;
    text-align: center;
    line-height: 30px;
}


/*--------------------------------------
|	            Preview video		   |
----------------------------------------*/
.preview_video {
    text-align: center;  
    color: black;
    margin-top: 300px;
    font: small-caps bold 20px/1 sans-serif;
    justify-content: center;
    text-align: center;  
    display: flex;
    flex-direction: column;
}

.preview_video b {
    border: white;
    border: 10px solid rgb(217, 105, 7);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    background: rgb(217, 105, 7);
}

.preview_video iframe {
    width: 800px;
    height: 400px;
    border: solid rgb(217, 105, 7) 3px;
    border-radius: 5px;
}

/*--------------------------------------
|	            Torna su			   |
----------------------------------------*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #333;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	opacity: 0.8;
	height: 50px;
}
  
#myBtn:hover {
	opacity: 1;
	background-color: #555;
}


/*--------------------------------------
|	              Footer			   |
----------------------------------------*/
footer{
	height: 180px;	
	bottom: 0;
    left: 0;
	width: 100%;
	background-color: rgb(217, 166, 121);
	color: white;
	text-align: center;
	position: static;
	margin-top: 250px;
	z-index: 1;
    opacity: 0.8;
    transition: 0.5s;
}

footer:hover {
    transition: 0.5s;
    opacity: 1;
}

footer img{
	transition: 1s;
	opacity: 0.8;
	position: relative;
	max-width: 100%;
	height: auto;
}
footer img:hover{
	transition: 1s;
	opacity: 1;
	transform: scale(1.1);
}

footer a {
    color: aliceblue;
    text-decoration-color: rgb(217, 105, 7);
    text-decoration-thickness: 2px;
    transition: 0.5s;
}
footer a:hover {
    color: grey;
    transition: 0.5s;
}

/*--------------------------------------
|	   ScroolBar                	   |
----------------------------------------*/
/* width */
::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
	
  }

/*--------------------------------------
|	   Visualizzazione da telefono	   |
----------------------------------------*/
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {

    li img {
        height: 100px;
        width: 100px;
    }

    li img:hover {
        height: 120px;
        width: 120px;
    }

    li a {
        font-size: 15px;
    }

    #preview_video #table1{
        font-size: 12px;
    }
}

@media only screen and (max-width: 720px) {

    li img {
        height: 80px;
        width: 80px;
    }

    li img:hover {
        height: 100px;
        width: 100px;
    }

    li a {
        font-size: 10px;
        padding: 2px, 2px;
    }

    .preview_video #table1{
        font-size: 10px;
    }

    .preview_video iframe {
        width: 500px;
        height: 250px;
    }
}

@media only screen and (max-width: 620px) {
    footer, table{
        position: static;
    }

    li a{
        padding: 4px;
        font-size: 10px;
    }

    li img {
        height: 50px;
        width: 50px;
    }

    li img:hover {
        height: 70px;
        width: 70px;
    }

    #presentazione h2 {
        width: 350px;
    }

    .preview_video #table1{
        font-size: 7px;
    }

    #presentazione img {
        width: 150px;
    }

    .preview_video iframe {
        width: 400px;
        height: 200px;
    }
}

@media only screen and (max-width: 450px) {

    li a{
        padding: 4px;
        font-size: 8px;
    }

    li img {
        height: 50px;
        width: 50px;
    }

    li img:hover {
        height: 70px;
        width: 70px;
    }

    #presentazione h2 {
        width: 300px;
    }

    #presentazione img {
        width: 120px;
    }

    .preview_video iframe {
        width: 350px;
        height: 175px;
    }
}

@media only screen and (max-width: 436px) {
    #presentazione h2 {
        width: 250px;
    }

    #preview_video #table1{
        font-size: 5px;
    }

    #presentazione img {
        width: 110px;
    }

    .preview_video iframe {
        width: 300px;
        height: 150px;
    }
}

@media only screen and (max-width: 376px) {
	li a{
        padding: 4px;
        font-size: 8px;
    }

    li img {
        height: 30px;
        width: 30px;
    }

    li img:hover {
        height: 50px;
        width: 50px;
    }

    #presentazione h2 {
        width: 200px;
    }

    .preview_video #table1{
        font-size: 4px;
    }

    #presentazione img {
        width: 100px;
    }

    .preview_video iframe {
        width: 250px;
        height: 125px;
    }
}