.drones {
    align-content: center;
    padding: 30px;
    width: 50%;
    margin: auto;
    position: inherit;
    position: relative;
    z-index: 1;
}

.drones table {
    border-radius: 10px;
    background-color: rgb(131, 58, 65);
    table-layout: fixed;
}

.drones td {
    padding: 15px;
}

.drones img {
    width: 100%;
    height: auto;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width: 900px) {
    .drones table {
        display: block;
    }
}

.drones b {
    color: rgb(107, 183, 191);
    font-size: 30px;
}

.button-scheda-tecnica {
    border: 1px solid rgb(107, 183, 191);
    border-radius: 10px;
    color: rgb(107, 183, 191);
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.button-scheda-tecnica:hover,
.button-scheda-tecnica:focus {
    background-color: #e1f1ff;
}

.drones p {
    text-align: center;
}




/* per far andare l'immagine del drone in alto quando lo schermo si rimpicciolisce */
.drones table {
    width: 100%;
}
.drones th,
.drones td {
    text-align: left;
    padding: 8px;
}
@media (max-width: 1000px) {
    .drones table {
        display: block;
    }
    .drones tr {
        display: block;
    }
    .drones td {
        display: block;
        border: none;
        position: relative;
    }
    .drones td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .drones img {
        width: 80%;
        padding: 20px;
    }
    
}